/* .form-control-editable {
  color: white !important;
  background-color: rgb(23, 27, 31) !important;
  border-color: lightgray !important;
}
.form-control {
  color: rgb(230, 230, 230) !important;
  background-color: transparent !important;
  border: none !important;

}
 */
